*{
    box-sizing:border-box;
    margin: 0;
    padding :0;
}
.header{
    &__p{
        font-size: 18px;
    }
    &__btn--sign-up{
        color: white;
        background: blue;
        font-weight: 600;
    }
}
.banner{
    background-image: url('./image/sea.jpg');
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 400px;
    &__title{
        color: white;
        width: 50%;
        margin:0 auto;
    }
    &__contact{
        &--input{
            width: 350px;
            height: 37px;
            line-height: 37px;
        }
    }
    .-width{
        width: 100%;
    }
}
.body{
    &__intro{
        &--img{
            width:130px;
            height: 80px;
        }
    }
}
.benefits{
    &__content{
        width: 50%;
        margin: auto;
        padding: 0 40px;
    }
    &--img{
        width: 50%;
    }
}
.people{
    width: 33.3333%;
    &--img{
        margin: 0 auto;
        width: 220px;
        height: 210px;
    }
}
.footer{
    &__lists li{
        display: inline-block;
        padding: 0 20px;
    }
    &__reserved{
        font-size: 13px;
    }
}
@media only screen and(max-width: 768px){
    h2,h3{
        font-size: 20px;
    }
    .people--img{
        width: 110px;
        height: 105px;
    }
}